
body{
	background-color: #FFFFFF;
}

.row{
	margin-bottom: 0px !important;
}

nav{
	background-color: #F54828 !important;
}

.titles{
	color: #FFFFFF;
}

.brand-logo{
	font-color: #FFFFFF;
}

.fa-shopping-cart{
	margin-left: 15px; 
}

#logo{
	height: 64px;
	width: 150px;
}

a.right{
	height: 100% !important;
	width: 30% !important;
}